.action-header{
	height : 10vh;
	box-sizing: border-box;
	padding: 0 20px 0 10px;
	line-height: 10vh;
	box-shadow: 0 2px 2px rgba(0,0,0,0.15)
}
.document-wrapper{
	height : 90vh;
	padding:25px;
}
.document{
	margin : 15px 0;
	padding : 40px;
	background-color: white;
	box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    transform-origin: 0 0;
}

ul.document-list{
	margin: 15px 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
ul.document-list > lh,
ul.document-list > li {
	margin: 0 10px;
}
ul.document-list > lh {
	width : 100px;
	text-align: right;
}
ul.document-list > li > .document-title {
	margin-bottom : 15px;
	color: white;
}
ul.document-list > li > .document-thumbnail {
	width: 150px;
	height : 200px;
	background-color: white;
	box-shadow: 0 2px 2px rgba(0,0,0,0.15);
	text-align: center;
	line-height: 200px;
}
ul.document-list > li > .document-thumbnail:hover {
	transform: translate(0,-2px);
	box-shadow: 0 4px 2px rgba(0,0,0,0.25);
	cursor: pointer;
}
